{% extends "base.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title:</label>
        {{ form.title }}
    </div>
    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
    </div>
    <div class="fieldWrapper">
        {{ form.date.errors }}
        <label for="{{ form.date.id_for_label }}">Date:</label>
        <input id="{{ form.date.id_for_label }}" type="date" value="{{form.date}}">
        
    </div>
    <div class="fieldWrapper">
        {{ form.state.errors }}
        <label for="{{ form.state.id_for_label }}">State:</label>
        <select name="cars" id="{{ form.state.id_for_label }}">
            <option value="Draft">Draft</option>
            <option value="Public">Public</option>
            <option value="Private">Private</option>
        </select>
    </div>
    <button type="submit" value="Submit">Submit</button>
    <a href="../">Cancel</a>
</form>
{% endblock %}