{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id='home' href={% url 'land' %}>{% translate 'Events' %}</a>
  {% if not user.is_authenticated %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_toggler_links" aria-controls="navbar_toggler_links" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar_toggler_links">
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
    </div>
    <div class="navbar-nav">
      <div class="nav-item">
        <a class="nav-link" id="sign_up" href={% url 'signup' %}>{% translate 'Sign Up' %}</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" id="sign_in" href={% url 'login' %}>{% translate 'Sign In' %}</a>
      </div>
    </div>
  </div>
  {% else %}
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ user.username }}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item disabled" href="#">Disabled link1</a>
      <a class="dropdown-item disabled" href="#">Disabled link2</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" id='user_logout' href={% url 'logout' %}>{% translate 'Logout' %}</a>
    </div>
  </div>
  {% endif %}
</nav>