{% extends "land.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<div class="d-flex flex-column align-items-center pt-1">
    <h3 class="p-4">{% translate 'Sign Up' %}</h3>
    <form class="" method="POST" action="signup">{% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.username.id_for_label }}">{% translate 'username' %}</label>
                {{ form.username }}
            </div>
        <div>
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.username.id_for_label }}">{% translate 'email' %}</label>
                {{ form.email }}
            </div>
        </div>
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.password1.id_for_label }}">{% translate 'password' %}</label>
                {{ form.password1 }}
            </div>
        </div>
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.password2.id_for_label }}">{% translate 'confirmation' %}</label>
                {{ form.password2 }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">{% translate 'Submit' %}</button>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger mt-4 " role="alert" id="login_error">
                    {{error}}
                    {% if field.label_tag == '<label for="id_email">Email:</label>' %}
                        <a id="sign_in" href={% url 'login' %} >{% translate 'Sign In' %}</a>
                    {% elif field.label_tag == '<label for="id_username">Username:</label>' %}
                        <a id="sign_in" href={% url 'login' %} >{% translate 'Sign In' %}</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% endif %}
    </form>
</div>
{% endblock %}