{% extends "land.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<div class="d-flex flex-column align-items-center pt-1">
    <h3>{% translate 'Sign Up' %}</h3>
    <form class="col-4" method="POST" action="signup">{% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.username.id_for_label }}">{% translate 'username' %}</label>
                {{ form.username }}
            </div>
        <div>
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.username.id_for_label }}">{% translate 'email' %}</label>
                {{ form.email }}
            </div>
        </div>
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.password1.id_for_label }}">{% translate 'password' %}</label>
                {{ form.password1 }}
            </div>
        </div>
        <div class="form-group">
            <div class="fieldWrapper">
                <label for="{{ form.password2.id_for_label }}">{% translate 'confirmation' %}</label>
                {{ form.password2 }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Submit">{% translate 'Submit' %}</button>
        <a href={% url 'land' %} class="btn btn-primary">{% translate 'Cancel' %}</a>
        {% if form.errors %}
        {{form.errors}}
        {% endif %}
    </form>
</div>
{% endblock %}