{% extends "base.html" %}

{% block content %}
  <h1>Events</h1>
  {% if event_list %}
  <ul>
    {% for event in event_list %}
    <li>
      <div>
        <a href="{{ event.get_absolute_url }}">{{event.title}}</a>
        {{event.description}}
        {{event.date}}
        {{event.author}}
        {{event.state}}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no events in the registered.</p>
  {% endif %}
  <button><a href={% url 'event-form' %}>create event</a>
  </button>
  <button type=“button”><a href={% url 'land' %}>Cancel</a></button>
{% endblock %}