{% extends "base.html" %}

{% block content %}
{% include "account.html" %}

  <div class="d-flex flex-column align-items-center">
    {% if event %}
      <div class="card p-3" style="width: 45em;" id={{event.pk}}>
          <h5 class="card-header">{{event.title}}</h5>
          <div class="card-body">
            <div id ="description">
              {{event.description}}
            </div>
            <div id="info" class="pt-5 d-flex flex-row text-muted justify-content-between">
              <p>by: {{event.author.username}}</p>
              <p>{{event.date}}</p>
            </div>
          </div>
      </div>
    
      <div class="p-3">
        
        
        {% if event.author == request.user %}
          {% include "subscriptions/subscription_list.html" %}
        {% else %}
          {% if subscribed %}
            
            <div class="alert alert-info" role="alert">
              You are subscribed to this event
            </div>
          {% else %}
            {% include "subscriptions/new.html" %}
          {% endif %}
            
        {% endif %}
        
      </div>
      {% endif %}
      
  </div>
{% endblock %}