{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% if event.state == 'DF' %}
<div class="alert alert-warning d-flex flex-row justify-content-md-between align-items-cente" role="alert">
  <div id='event_state'>{% translate 'Draft' %}</div>
  <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
  <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
</div>
{% elif event.state == 'PU' %}
<div class="alert alert-success d-flex flex-row justify-content-md-between align-items-center" role="alert">
  <div id='event_state'>{% translate 'Public' %}</div>
  <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
  <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
</div>
{% else %}
<div class="alert alert-info d-flex flex-row justify-content-md-between align-items-center" role="alert">
  <div id='event_state'>{% translate 'Private' %}</div>
  <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
  <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
</div>
{% endif %}