{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="d-flex flex-column align-items-center py-3 mt-3" style="height:inherit; border: 1px solid black;">
    <h1 class="p-4">{% translate 'Events' %}</h1>
    {% if event_list %}
    <ul style="list-style: none;" class="col col-lg-6" id="events_list">
      {% for event in event_list %}
        {% if user.is_authenticated %}
          {% if user.email == event.author.email %}
          <li class="p-2">
            <div class="card"  id="event_{{event.pk}}">
              <a href="{{ event.get_absolute_url }}" style="position:absolute;width: 100%;height: 100%;"></a>
                  <div class="card-body">
                      <h5 class="card-title" style="text-decoration: underline;">{{event.title}}</h5>
                  <div>
                    {% include "events/components/event_detail.html" %}
                  </div>
          </li styles="underline:none">
          {% elif event.state != 'DF' %}
          <li class="p-2">
            <div class="card"  id="event_{{event.pk}}">
              <a href="{{ event.get_absolute_url }}" style="position:absolute;width: 100%;height: 100%;"></a>
                  <div class="card-body">
                      <h5 class="card-title" style="text-decoration: underline;">{{event.title}}</h5>
                  <div>
                <div>
                  {% include "events/components/event_detail.html" %}
                </div>
              </div>
          </li styles="underline:none">
          {% endif %}
        {% else %}
          {% if event.state == 'PU' %}
          <li class="p-2">
            <div class="card" id="event_{{event.pk}}">
              <a href="{{ event.get_absolute_url }}" style="position:absolute;width: 100%;height: 100%;"></a>
                  <div class="card-body">
                      <h5 class="card-title" style="text-decoration: underline;">{{event.title}}</h5>
                </div>
                {% include "events/components/event_detail.html" %}
            </div>
          </li styles="underline:none">
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <h3>{% translate 'No events registered' %}</h3>
    {% endif %}
    
      {% if user.is_authenticated %}
      <div class="justify-content-end p-3"></div>
        <a href={% url 'event-create' %} class="btn btn-primary" id='create_event'>{% translate 'create event' %}</a>
      </div>
      {% endif %}
    
  </div>
{% endblock %}