{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "account.html" %}

  <div class="d-flex flex-column align-items-center">
    {% if event %}
      <div class="card p-3" style="width: 45em;" id={{event.pk}}>
            <h5 class="card-header">{{event.title}}</h5>
            
          <div class="card-body">
            <div id ="description">
              {{event.description}}
            </div>
            <div id="info" class="pt-5 d-flex flex-row text-muted justify-content-between">
              <p>{% translate 'by:' %} {{event.author.username}}</p>
              <p>{{event.date}}</p>
            </div>
          </div>
          {% if event.state == 'DF' %}
            <div class="alert alert-warning justify-content-md-between" role="alert">
              {% translate 'Draft' %}
            </div>
            {% elif event.state == 'PU' %}
            <div class="alert alert-success" role="alert">
              {% translate 'Public' %}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
              {% translate 'Private' %}
            </div>
            {% endif %}
          
      </div>
    
      <div class="p-3">
        
        {% if event.author == request.user %}
          {% include "subscriptions/subscription_list.html" %}
        {% else %}
          {% if subscribed %}
            
            <div class="alert alert-info" role="alert">
              {% translate 'You are subscribed to this event' %}
            </div>
          {% else %}
            {% include "subscriptions/new.html" %}
          {% endif %}
            
        {% endif %}
        
      </div>
      {% endif %}
      
  </div>
{% endblock %}