{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="d-flex flex-column align-items-center ">
    <h1>{% translate 'Events' %}</h1>
    {% if event_list %}
    <ul style="list-style: none;" class="col-8" id="events_list">
      {% for event in event_list %}
        {% if user.is_authenticated %}
          {% if user.email == event.author.email %}
          <li class="p-2">
            <div class="card"  id="event_{{event.pk}}">
              <a href="{{ event.get_absolute_url }}" style="position:absolute;width: 100%;height: 100%;"></a>
                  <div class="card-body">
                      <h5 class="card-title" style="text-decoration: underline;">{{event.title}}</h5>
                  <div>
                    {% if event.state == 'DF' %}
                    <div class="alert alert-warning d-flex flex-row justify-content-md-between align-items-cente" role="alert">
                      <div id='event_state'>{% translate 'Draft' %}</div>
                      <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
                      <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
                    </div>
            {% elif event.state == 'PU' %}
            <div class="alert alert-success d-flex flex-row justify-content-md-between align-items-center" role="alert">
              <div id='event_state'>{% translate 'Public' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% else %}
            <div class="alert alert-info d-flex flex-row justify-content-md-between align-items-center" role="alert">
              <div id='event_state'>{% translate 'Private' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% endif %}
                </div>
          </li styles="underline:none">
          {% elif event.state != 'DF' %}
          <li class="p-2">
            <div class="card"  id="event_{{event.pk}}">
              <a href="{{ event.get_absolute_url }}" style="position:absolute;width: 100%;height: 100%;"></a>
                  <div class="card-body">
                      <h5 class="card-title" style="text-decoration: underline;">{{event.title}}</h5>
                      
                  <div>
                </div>
                {% if event.state == 'DF' %}
            <div class="alert alert-warning d-flex flex-row justify-content-md-between align-items-cente" role="alert">
              <div id='event_state'>{% translate 'Draft' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% elif event.state == 'PU' %}
            <div class="alert alert-success d-flex flex-row justify-content-md-between align-items-center" role="alert">
              <div id='event_state'>{% translate 'Public' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% else %}
            <div class="alert alert-info d-flex flex-row justify-content-md-between align-items-center" role="alert">
              <div id='event_state'>{% translate 'Private' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% endif %}
          </li styles="underline:none">
          {% endif %}
          {% else %}
          {% if event.state == 'PU' %}
          <li class="p-2">
            <div class="card"  id="event_{{event.pk}}">
              <a href="{{ event.get_absolute_url }}" style="position:absolute;width: 100%;height: 100%;"></a>
                  <div class="card-body">
                      <h5 class="card-title" style="text-decoration: underline;">{{event.title}}</h5>
                </div>
                {% if event.state == 'DF' %}
            <div class="alert alert-warning d-flex flex-row justify-content-md-between align-items-cente" role="alert">
              <div id='event_state'>{% translate 'Draft' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% elif event.state == 'PU' %}
            <div class="alert alert-success d-flex flex-row justify-content-md-between align-items-center" role="alert">
              <div id='event_state'>{% translate 'Public' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% else %}
            <div class="alert alert-info d-flex flex-row justify-content-md-between align-items-center" role="alert">
              <div id='event_state'>{% translate 'Private' %}</div>
              <div id='event_author'>{% translate 'Author:' %}{{event.author.username}}</div>
              <div id='event_date'>{% translate 'Date:' %}{{event.date}}</div>
            </div>
            {% endif %}
          </li styles="underline:none">
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    {% else %}
      <h3>{% translate 'No events registered' %}</h3>
    {% endif %}
    <div class="justify-content-end p-3">
      {% if user.is_authenticated %}
      <a href={% url 'event-create' %} class="btn btn-primary" id='create_event'>{% translate 'create event' %}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}