<h4>Subscribe</h1>
<form action="" method="post">{% csrf_token %}
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email">
    <label for="comment">Comment</label><br>
    <textarea type="text" id="comment" name="comment" rows="4" cols="30"></textarea>
    <button type="submit" value="Submit">Submit</button>
    <button><a href={% url 'event-list' %}>Cancel</a></button>
</form>