{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="container">
  <footer class="card-subtitle mb-2 text-muted d-flex justify-content-end" id='event_author'>
    {{event.author.username}}
  </footer>
  <hr/>
  <div class="container d-flex flex-row justify-content-md-around" >
    {% if event.state == 'DF' %}
    <footer class="text-muted" >
      <div id='event_state' class="alert-warning p-1 mx-5" style="border-radius: 4px;">{% translate 'Draft' %}</div>
    </footer>
    {% elif event.state == 'PU' %}
      <footer class="text-muted" >
        <div id='event_state' class="alert-info p-1 mx-5" style="border-radius: 4px;">{% translate 'Public' %}</div>
      </footer>
    {% else %}
    <footer class="text-muted">
      <div id='event_state' class="alert-success p-1 mx-5" style="border-radius: 4px;">{% translate 'Private' %}</div>
    </footer>
    {% endif %}
    <footer class="text-muted">
      <div id='event_date'><p>{{event.date|date:"SHORT_DATE_FORMAT"}}</p></div>
    </footer>
  </div>
</div>